input, textarea {
    outline: none;
}
button,textarea{
    outline: none;
}
a{
    text-decoration: none;
}
.topLine{
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0px;
    top:0px;
    background-color: #76c38f;
}
.background1{
    width: 100%;                                  /*360 с каждой стороны отступ*/
    height: 600px;
    position: absolute;
    left: 0px;
    top:5px;
    background-color: #290000;
}

.title{
    font-size: 20px;
    color:white;
    position: absolute;
    top:48px;
    left: 480px;
}
.underTitle{
    font-size: 9px;
    color:#979797;
    position: absolute;
    left: 480px;
    top:68px;
}
a[href="https://www.google.by/"]{
    position: absolute;
    top:48px;
    color: white;
    font-size: 14px;
    padding: 13px 20px;
}
a[href="https://www.google.by/"]:hover{
    border:1px solid white;
    border-radius: 10px;
}
a[href="https://www.google.by/"]:active{
    background-color: #76c38f;
    border: 1px solid #76c38f;
    border-radius: 10px;
}
.hat1{
    left: 826px;
}
.hat2{
    left: 906px;
}
.hat3{
    left: 1027px;
}
.hat4{
    left:1149px;
}
.hat5{
    left: 1265px;
}
.hat6{
    left: 1380px;
}

.curcus{
    font-size: 34px;
    color:white;
    position: absolute;
    left: 543px;
    top: 225px;
}
.nullamlacus{
    position: absolute;
    left: 543px;
    top:337px;
    font-size: 13px;
    color:#979797;
}

.knopka1{
    position: absolute;
    left: 543px;
    top:427px;
    width: 142px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    background-color: #76c38f;
    color:white;
}
.knopka1:hover{
    border:1px solid white;
}
.knopka1:active{
    border: 3px solid white;
}
.circle{
    position: absolute;
    top:125px;
    left:975px;
    width: 380px;
    height: 380px;
    border: 25px solid #6b6b6b;
    border-radius: 380px;
    background-color: #333333;
}
.circle:hover{
    border: 25px solid #b1b1b1;
}