.backgroundFooter{
    height: 60px;
    width: 100%;
    border-top: 1px solid black;
    background-color: #2b2b2b;
    position: absolute;
    top: 1965px;
}
.copyright{
    position: absolute;
    left: 480px;
    top:1975px;
    color:#979797;
}
.template{

}