.background2{
    height: 973px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 605px;
    background-color: #660000;
}
.hovBox{
    position: absolute;
    top:665px;
    width: 226px;
    height: 305px;
    background-color: white;
}
.box1{   
   left: 480px;
}
.box2{  
    left: 726px;   
}
.box3{   
    left: 972px;
}  
.box4{   
    left: 1218px;
}
.square{
    position: absolute;
    left: 53px;
    top:21px;
    width: 120px;
    height: 120px;
    background-color: #333333;
}
.ServTitle{
    color: #333333;
    position: absolute;
    left:57px;
    top:160px;
    font-size: 27px;
    text-align: center;
}
.expl{
    font-size: 14px;
    position: absolute;
    left:35px;
    top:215px;
    text-align: center;
    color:#979797;
}
.hovBox:hover{
    background-color: #76c38f;
}
.hovBox:hover .square{
    background-color: white;
}
.hovBox:hover .ServTitle{
    color:white;
}
.hovBox:hover .expl{
    color:white;
}

.line{
    height: 3px;
    width: 960px;
    position: absolute;
    left:480px;
    top: 1035px;
    background-color: #303030;
}
.work{
    width: 256px;
    height: 34px;
    padding: 7px 0px;
    position: absolute;
    left:832px;
    top: 1012px;
    background-color: #303030;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.qualities{
    position: absolute;
    border: 5px solid white;
    background-color: #353535;
    height: 190px;
    width: 290px;
}
.block1{
    left: 480px;
    top: 1095px;
}
.block2{
    left: 810px;
    top: 1095px;
}
.block3{
    left: 1140px;
    top: 1095px;
}
.block4{
    left: 480px;
    top: 1325px;
}
.block5{
    left: 810px;
    top: 1325px;
}
.block6{
    left: 1140px;
    top: 1325px
}
.lorem{
    height: 22px;
    width: 290px;
    font-size: 20px;
    padding: 4px 0px;
    text-align: center;
    background-color: #151515;
    color: white;
    position: absolute;
    top: 160px;
}
.qualities:hover{
    border:5px solid #76c38f;
}
.qualities:hover .lorem{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}