.background3{
    height: 390px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 1578px;
    background-color: #303030;
}
.blog{
    color:white;
    position: absolute;
    left: 480px;
    top:40px;
}
.post{
    position: absolute;
    top:88px;
    left: 480px;
    color:#76c38f;
}
.doman{
    position: absolute;
    left:480px;
    top: 116px;
    color:#979797;
    font-size: 12px;
}
.admin{
    color:#76c38f;
}
.data{
    position: absolute;
    left: 480px;
    top: 138px;
    color:#979797;
    font-size: 12px;
}
.blogText{
    font-size: 13px;
    color:#979797;
    position: absolute;
    left: 480px;
    top:173px;
}
.readMore{
    color:#76c38f;
    position: absolute;
    left: 480px;
    top:320px;
    font-size: 15px;
}

.links{
    position: absolute;
    left: 725px;
    top: 40px;
    color: white;
}

.s1{
    position: absolute;
    left: 725px;
    top: 80px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}

.s2{
    position: absolute;
    left: 725px;
    top: 115px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.s3{
    position: absolute;
    left: 725px;
    top: 150px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.s4{
    position: absolute;
    left: 725px;
    top: 185px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.s5{
    position: absolute;
    left: 725px;
    top: 220px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.s6{
    position: absolute;
    left: 725px;
    top: 255px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.s7{
    position: absolute;
    left: 725px;
    top: 290px;
    color: #979797;
    font-size: 13px;
    border-bottom: 1px solid #979797;
}
.ssylka{
    color: #76c38f;
}
.lastTweets{
    position: absolute;
    top: 40px;
    color: white;
    left: 970px;
}
.green{
    color:#76c38f;
}
.t1{
    position: absolute;
    left: 970px;
    color: #979797;
    top: 70px;
    font-size: 13px;
}
.t2{
    position: absolute;
    left: 970px;
    top:200px;
    color:#979797;
    font-size: 13px;
}


input, textarea {
    outline: none;
}
button,textarea{
    outline: none;
}

.contact{
    position: absolute;
    left: 1215px;
    top:40px;
    color: white;
}
.name{
    position: absolute;
    left: 1215px;
    top: 80px;
    background-color: #222222;
    color:white;
    border-radius: 10px;
    border:none;
    width: 225px;
    height: 25px;
}
.mail{
    position: absolute;
    left: 1215px;
    top: 130px;
    background-color: #222222;
    color:white;
    border-radius: 10px;
    border: none;
    width: 225px;
    height: 25px;
}
.subj{
    position: absolute;
    left: 1215px;
    top: 180px;
    background-color: #222222;
    color:white;
    border-radius: 10px;
    border: none;
    width: 225px;
    height: 25px;
}
.message{
    position: absolute;
    left: 1215px;
    top: 230px;
    background-color: #222222;
    color:white;
    border-radius: 10px;
    border: none;
    width: 225px;
    height: 65px;
    text-align: start;
}
.submit{
    background-color: #76c38f;
    color:#222222;
    width: 75px;
    height: 20px;
    border-radius: 7px;
    border: none;
    position: absolute;
    left: 1215px;
    top: 315px;
    font-size: 11px;
    font-weight: bold;
}